@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <h2>Hello world!</h2>
</body>
</html>

<a asp-controller="Home" asp-action="Contact" asp-route-id="12">Contact page</a>